#projects{
    /* overflow: hidden; */
    max-width: 75rem;
    /* border: 1px solid red; */
    height: 150vh;
    text-align: center;
    /* margin: 0 auto; */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.projects-title{
    margin: 90px;
}

.project-items{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 4rem;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    
    
}

.project-item-div{
    display: flex;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 50px;
}

.project-item-img{
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project-item-desc{
    padding:10px 8px;
    position: relative;
    z-index: 10;
    width: 100%;
    border-width: 4px;
    border-color: rgb(31 41 55);
    background-color: rgb(17 24 39);
    opacity: 0;
}

.project-item-desc:hover{
    opacity:100
}
