@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

*{
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:rgb(199 210 254);
  background-color: #1b1b32;
  width: 100vw;
  overflow-x: hidden;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

svg{
  background-color: transparent;
}

.linearGradient{
  background-image:  linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 25px;
  }

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: both;
}

#tsparticles{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#2d2d53, #1b1b32);
}

.link {
  background: linear-gradient(currentColor 0 0) left var(--p, 0%) bottom 0 /
      var(--d, 0%) 3px no-repeat,
    linear-gradient(currentColor 0 0) right var(--p, 0%) bottom 0 / var(--d, 0%)
      3px no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}

.link:hover {
  cursor: pointer;
  --d: 51%;
  --p: 0%;
  transition: cubic-bezier(0, 0, 0, 0) 0s, background-size 0.3s 0.3s;
  transition-delay: 50ms;
}

.grainy-background::before {
  content: "";
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    90 deg,
    transparent,
    transparent 5px,
    rgba(0, 0, 0, 0.1) 5px,
    rgba(0, 0, 0, 0.1) 10px
  );
  background: repeating-radial-gradient(
    circle at -100px -100px,
    rgba(155, 77, 201, 0.1),
    rgba(16, 21, 65, 0.966) 2px,
    transparent 0.1px,
    transparent 0.1px
  );
  opacity: 0.8; 
  z-index: -1;
}

.accent {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: radial-gradient(30% 60 circle at center -200px, var(--accent-color) 0%, transparent 100%);
  opacity: var(--accent-opacity);
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.border-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(rgb(255 255 255 / 0%), rgb(255 255 255 / 0%)) padding-box,
  linear-gradient(var(--angle, 0deg), rgb(255 255 255 / 0%), rgb(255 255 255 / 20%)) border-box;
  mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
  mask-composite: exclude;
  border: 2px solid transparent;
  pointer-events: none;
}

.border-highlight {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: radial-gradient(600px circle at var(--cursor-x, 0) var(--cursor-y, 0), rgb(255 255 255 / 70%) 0%, transparent 100%) padding-box,
  radial-gradient(600px circle at var(--cursor-x, 0) var(--cursor-y, 0), rgb(255 255 255 / 70%) 0%, transparent 100%) border-box;
  mask: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #fff);
  mask-composite: exclude;
  border: 2px solid transparent;
  opacity: var(--is-hovered, 0);
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.webkit-gradient{
  -webkit-mask-image: linear-gradient(0deg,#000,transparent 10%);
  mask-image: linear-gradient(0deg,#000,transparent 10%);
}