@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

*{
  /* background-image: linear-gradient(-70deg, #6E2D62, #5B4F95 100%); */
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #6E2D62;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:rgb(199 210 254);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

svg{
  background-color: transparent;
}

.linearGradient{
background-image: linear-gradient(0deg, rgba(102, 42, 91, 0) 0%, rgba(80, 31, 71, 0.979) 100%)
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: both;
}

#tsparticles{
  width: 100%;
  height: 100vh;
  /* position:relative; */
  /* z-index: -1; */
}

.grainy-background::before {
  content: "";
  position: absolute;
  border-radius: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    90 deg,
    transparent,
    transparent 5px,
    rgba(0, 0, 0, 0.1) 5px,
    rgba(0, 0, 0, 0.1) 10px
  );
  background: repeating-radial-gradient(
    circle at -100px -100px,
    rgba(155, 77, 201, 0.1),
    rgba(16, 21, 65, 0.966) 2px,
    transparent 0.1px,
    transparent 0.1px
  );
  opacity: 0.8; /* Adjust the opacity as needed */
  z-index: -1;
}

.accent {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background: radial-gradient(30% 60 circle at center -200px, var(--accent-color) 0%, transparent 100%);
  opacity: var(--accent-opacity);
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.gradient{
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.1) 0%);

}
